
:root {
    --main-bg-color: #ffffff;
    --text-color: #49687e;
    --header-bg-color: #83a1b7;

}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h2,li {
color:var(--text-color)
}

.plan_type{
    color: var(--header-bg-color);
    font-size:14px;
}
